*{
    margin: 0%;
    padding: 0%;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
}
body{
    background-color:#004D40;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    color: #A7FFEB;
}
header button{
    display: none;
}
header h1{
    color: #0bad9b;
}
header ul{
    display: flex;
}
header ul li{
    padding-right: 30px;
    font-weight: lighter;
    cursor: pointer;
    font-size: x-large;
    color: #A7FFEB;
}
header ul li:hover{
    color: #0bad9b;
    transform: scale(1);
    transition:ease-in-out;
    border-bottom: 1px solid rgb(69, 198, 202);
}
main{
    padding: 100px;
}
.hero{
    display: flex;
    justify-content: space-evenly;
}
.container{
    animation-name: container;
animation-duration: 1s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
animation-direction: alternate;
}
@keyframes container {
    to{transform: rotatez(360deg);}
}
.container h1{
    color:#0bad9b ;
}
.container span{
    color: #1de9b6;
}
.container h4{
    font-weight: lighter;
    font-size: 25px;
    color: #1de9b6;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container p{
    color: #0bad9b;
    font-weight: bolder;
    font-size: xx-large;
}
.container button{
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    background-color: #A7FFEB;
    color: #004D40;
    margin-top: 20px;
}
.container-img{
    width: 150px;
    background-color: #0bad9b;
    padding-left: 20px;
    margin-right: 250px;
    border-radius: 40px;
    animation-name: img;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
animation-direction: alternate;
}
.container-img img{
width:250px;
border-radius: 30%;
border:5px solid #0bad9b;

}
/* @keyframes img {
from{transform: scale(0.5);}    
} */

@media (max-width:540px) {
    *{
        margin: 0%;
        padding: 0%;
        outline: 0;
        border: 0;
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        list-style-type: none;
        
    }
    
header{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    background-color: #004D40;
    border-bottom:2px solid  #1de9b6;
    color: #A7FFEB;
    z-index: 100%;
    position: fixed;
}
header button{
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
}
header h1{
    color: #0bad9b;
    padding: 10px;
    font-size: 30px;
}
header ul{
    display: flex;
    flex-direction: column;
    display: none;
}
header ul li{
    padding-right: 30px;
    font-weight: lighter;
    cursor: pointer;
    font-size: x-large;
    color: #A7FFEB;
}
header ul li:hover{
    color: #0bad9b;
    transform: scale(1);
    transition:ease-in-out;
    border-bottom: 1px solid rgb(69, 198, 202);
}
    

main{
    padding: 60px;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    padding-top: 150px;
}
.container{
    animation-name: container;
animation-duration: 1s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
animation-direction: alternate;
}
@keyframes container {
    to{transform: rotatez(360deg);}
}
.container h1{
    color:#0bad9b ;
}
.container span{
    color: #1de9b6;
}
.container h4{
    font-weight: lighter;
    font-size: 25px;
    color: #1de9b6;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container p{
    color: #0bad9b;
    font-weight: bolder;
    font-size: xx-large;
}
.container button{
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    background-color: #A7FFEB;
    color: #004D40;
    margin-top: 20px;
}
.container-img{
    width: 150px;
    background-color: #0bad9b;
    padding-left: 20px;
    margin-right: 250px;
    border-radius: 40px;
    animation-name: img;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
animation-direction: alternate;
}
.container-img img{
width:250px;
border-radius: 30%;
border:5px solid #0bad9b;

}
@keyframes img {
from{transform: scale(0.5);}    
}
}
@media (max-width:360px) {
    *{
        margin: 0%;
        padding: 0%;
        outline: 0;
        border: 0;
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        list-style-type: none;
    }
    
header{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    background-color: #02352c;
    border-bottom:2px solid  #1de9b6;
    color: #A7FFEB;
    z-index: 100%;
    position: fixed;
}
header button{
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
}
header h1{
    color: #0bad9b;
    padding: 10px;
    font-size: 30px;
}
header ul{
    display: flex;
    flex-direction: column;
    display: none;
}
header ul li{
    padding-right: 30px;
    font-weight: lighter;
    cursor: pointer;
    font-size: x-large;
    color: #A7FFEB;
}
header ul li:hover{
    color: #0bad9b;
    transform: scale(1);
    transition:ease-in-out;
    border-bottom: 1px solid rgb(69, 198, 202);
}
    

main{
    padding-top: 10px;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    padding-top: 10px;
}
.container{
    animation-name: container;
animation-duration: 1s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
animation-direction: alternate;

}
@keyframes container {
    to{transform: rotatez(360deg);}
}
.container h1{
    color:#0bad9b ;
}
.container span{
    color: #1de9b6;
}
.container h4{
    font-weight: lighter;
    font-size: 25px;
    color: #1de9b6;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container p{
    color: #0bad9b;
    font-weight: bolder;
    font-size: xx-large;
}
.container button{
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    background-color: #A7FFEB;
    color: #004D40;
    margin-top: 20px;
}
.container-img{
    width: 150px;
    background-color: #0bad9b;
    padding-left: 20px;
    margin-right: 250px;
    border-radius: 40px;
    animation-name: img;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
animation-direction: alternate;
}
.container-img img{
width:250px;
border-radius: 30%;
border:5px solid #0bad9b;

}
@keyframes img {
from{transform: scale(0.5);}    
}
}